
/MacHack7Cloud/MacHack7Cloud/obj
/MacHack7Cloud/MacHack7Cloud/bin
/MacHack7Cloud/WorkerRole1/obj
/MacHack7Cloud/WorkerRole1/bin
/MacHack7Cloud/packages
/MacHack7Cloud/MacHack7Cloud/rcf
/MacHack7Cloud/MacHack7Cloud/csx